# Server Configuration for FIRST

[server]											; Server Connection
server = first.talosintelligence.com              	; url
port = 443 											; port number
protocol = https 									; protocol name
verify = 0 											; verify ssl cert
auth = 0 											; use kerbos auth
	
[user]
key = ; api key 
