# Server Configuration for FIRST

[server]											; Server Connection
server = first.talosintelligence.com              	; url
port = 443 											; port number
protocol = https 									; protocol name
verify = 0 											; verify ssl cert
auth = 0 											; use kerbos auth
	
[user]
key = b3fcf0dd-cab7-4610-96c3-7ff08b0252e3     	  	; api key 
